---
import '@/styles/globals.css'
import Footer from '@/components/Footer/Footer.astro'
import Meta, { type Props as MetaProps } from '@/components/Meta/Meta.astro'

export interface Props {
  meta: MetaProps
}

const { meta } = Astro.props
---

<!doctype html>
<html lang="ja">
  <!-- Google Tag Manager -->
  <script is:inline type="text/javascript">
    ;(function (w, d, s, l, i) {
      w[l] = w[l] || []
      w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' })
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : ''
      j.async = true
      j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
      f.parentNode.insertBefore(j, f)
    })(window, document, 'script', 'dataLayer', 'GTM-TRHGBZC9')
  </script>
  <!-- End Google Tag Manager -->

  <Meta {...meta} />

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TRHGBZC9"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <!-- <Header /> -->
    <main>
      <slot />
    </main>
    <Footer />
    <style is:global></style>
  </body>
</html>
